<h1>Hello, {{username}}!</h1>
<h2>Account type: {{accountType | uppercase}}</h2>
<h2>Balance: {{balance | number: '1.2-2'}}</h2>
Email: {{email}} <br>
Phone: {{phoneNumber}} <br>

<button (click)="logout()">Log out</button>

<h3>Cards: &emsp;<button (click)="addCardPage()">Add card</button></h3>
<ul>
    <li *ngFor="let card of cards">
        <p>Card Type: {{card.cardType | titlecase}} <br>
        Number: {{card.cardNumber}} <br>
        Expiration Date: {{card.expireDate}}</p>

    </li>
</ul>

<h3>Transaction History: </h3>
<ul>
    <li *ngFor="let trans of transactions">
        <p>{{trans.timestamp}} <br>
        {{trans.prefix}} <b>${{trans.amount | number: '1.2-2'}}</b> {{trans.suffix}}</p>
    </li>
</ul>